:root
{
    --primary-color: #169CAD;
    --secondary-color:  #F5671D;
    --accent1-color: #034357;
}

footer
{
    margin-top: 10px;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#icon-list
{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}

.icon
{
    margin: 10px;
    height: 100px;
    width: 100px;
    border-radius: 15px;
}

.icon:hover
{
    background-color: var(--secondary-color);
    transition: ease .1s;
}

.emailer
{
    grid-column: 2;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 7px;
}

textarea
{
    resize: none;
}

.input
{
    width: 350px;
    margin: 10 auto;
    padding: 15px;
    border-radius: 5px;
}

#text
{
    word-wrap: normal;
    height: 200px;
}

#submit
{
    width: 100px;
}

h2
{
    font-family: "Orbitron";
}