@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

:root
{
    --primary-color: #169CAD;
    --secondary-color:  #F5671D;
    --accent1-color: #034357;
}

body
{
    background-color: rgb(235, 225, 225);
}

main
{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 400px 1fr;
    justify-items:center;
}

h2
{
    font-family: "Orbitron";
}

h3
{
    font-family: "Iceberg";
}

.skills
{
    grid-row: 1;
    grid-column: 1;
    justify-self: right;
    margin: 0 40px;

}

.certificates
{
    grid-row: 1;
    grid-column: 2;
    justify-self: left;
    margin: 0 40px;
}

.work
{
    background-color: var(--primary-color);
    box-shadow: 5px 3px #346675;
    width:500px;
    grid-row: 2;
    grid-column: 1;
    justify-items: center;
    margin-bottom: 50px;
    justify-self: right;
    margin: 25px;

}

.thumb-nail
{
    height: 200px;
    width: 200px;
}

.thumb-nail:hover
{
    transition: ease-in .1s;
    box-shadow: 5px 5px #052731;
    transform: scale(1.1);
}

.projects-grid
{
    align-items: center;
    justify-self: left;
    margin: 25px;
}

.content-grid
{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(4, 200px);
}

#world-buidling
{
    grid-row: 1;
    grid-column: 1;
}

#japanese-study
{
    grid-column: 2;
    grid-row: 1;
}